.projectsContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 60vh;
    color:white;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
.project{
    display: flex;
    align-items: center;
    margin: 20px 20px 20px 20px;
}

.project a img{
    width:429px;
    height:223px;
}

@media screen and (max-width: 800px ) {
    .projectsContainer{
        
        color:white;
        padding: 0;
        margin: 3rem 0rem;
    }
    
}