.projectsContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 60vh;
    color:white;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
}
.project{
    display: flex;
    align-items: center;
    margin: 20px 20px 20px 20px;
}

.project a img{
    width:429px;
    height:223px;
}