.contactForm{
    margin-top: 150px;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width: 100vw;
    align-items: center;
    position:relative;
}
.contactForm > *{
    margin-bottom: 20px;
}
input{
    border-radius: 10px;
    height: 40px;
    width: 500px;
    font-size: 16px;
    padding: 10px;
    border: none;
}
input:focus{
    outline: blue 3px solid;
}
textarea{
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    height: 200px;
    width: 500px;
}
textarea:focus{
    outline: blue 3px solid;
}
.contactForm button{
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    width: 130px;
}
.contactForm button:hover{
    cursor: pointer;
}
.contactForm button:disabled{
    cursor: not-allowed;
    background-color:rgb(218, 218, 218);
}
