.navbar{
    display:flex;
    justify-content: space-between;
    padding:20px 250px 20px 60px;
    color: white;
}

.navbar:hover{
    padding:20px 180px 20px 60px;
}
.navbar:hover ul li{
    margin: 0px 45px 0px 0px;
}

.navbar ul{
    list-style-type: none;
    display: flex;
}

.navbar ul li{
    margin: 0px 30px 0px 30px;
    border-bottom: 2px solid transparent;
    transition: border-bottom .7s ease;
}

ul li a{
    text-decoration: none;
    font-weight: 300;
    font-size: larger;
    letter-spacing: 9px;
    color:white;
    padding-bottom: 3px;
    padding-left:4px;
}

.navbar:hover > ul li a{
    letter-spacing: 5px;
}
.navbar ul li:hover{
    border-bottom: 2px solid rgb(199, 192, 192);
    transition: border-bottom .7s ease;
}

@media screen and (max-width: 1000px){
    .navbar{
        display: none;
    }
    .navMobile{
        display: flex;
        flex-direction: column;
        color: white;
        position: absolute;
        width: 100%;
        z-index: 12;
        background-color: black;
    }   
    span{
        width: fit-content;
    }
    span > * {
        width: 2.2rem;
        height: auto;
    }
    li{
        margin: 2rem 0rem;
    }
}