
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}

.footer .socialIcons{
    display:flex;
    padding-right: 250px;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer .socialIcons .icon{
    height: 22px;
    width: 22px;
    color:white;
    transition: height .3s ease;
}
.footer .socialIcons .icon:hover{
    height: 25px;
    width: 25px;
    color:white;
    transition: height  ;
}
.footer a{
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: larger;
    letter-spacing: 10px;
    margin-left: 50px;
}




