.aboutMe{
    display:flex;
    flex-direction: column;
    color:rgb(207, 207, 207);
    border: solid black 2px;
    font-size: xx-large;
    font-weight: 800;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 120%;
    padding: 50px 200px 50px 200px;
    margin-top: 100px;
}


.aboutMeTitle{
    font-size: 200%;
    margin-bottom: 50px;
    line-height: 140%;
}