.aboutMe{
    display:flex;
    align-items: center;
    color:white;
    border: solid black 2px;
    font-size: xx-large;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    padding: 50px 200px 50px 200px;
}